extends layout

block content
  div.row
    div.col.s10.offset-s1
      div.resultHead.
        :: ALL PICKS ::
      table.bordered.wagerTable
        thead
          tr
            th
              | Username
            th
              | Event
            th
              | Type
            th
              | Wager
            th
              | Odds
            th
              | Risk
            th
              | To Win
            th
              | Result
        tbody
          for wager in wagers
            tr
              td=wager.username
              td=wager.event
              td=wager.type
              td=wager.wager
              td=wager.odds
              td=wager.risk
              td=wager.to_win
              td=wager.net_total
