extends layout

block content
  div.row
    div.col.s10.offset-s1
      table.wagerTable.allpicks
        thead
          tr.resultHead
            th(colspan=2)
              select#user-filter
                option(disabled selected value='')
                  | Filter by User
                for user in users
                  option(value=user.username).
                    #{user.username}
            th(colspan=4).
              :: ALL PICKS ::
            th(colspan=2)
              select#event-filter
                option(disabled selected value='')
                  | Filter By Event
                option(value='Rising Stars Game')
                  | Rising Stars Game
                option(value='Skills Challenge')
                  | Skills Challenge
                option(value='Three-Point Contest')
                  | Three-Point Contest
                option(value='Dunk Contest')
                  | Dunk Contest
                option(value='All-Star Game')
                  | All-Star Game
          tr.subHead.center-align
            th(colspan=8)
              i
                | Picks will be revealed here once their event has locked for selection.
          tr
            th
              | Username
            th
              | Event
            th
              | Type
            th
              | Wager
            th
              | Odds
            th
              | Risk
            th
              | To Win
            th
              | Result
        tbody
          for wager in wagers
            if (moment()).isAfter(moment(wager.start_time))
              tr
                td=wager.username
                td=wager.event
                td=wager.type
                td=wager.wager
                td=wager.odds
                td=wager.risk
                td=wager.to_win
                td=wager.net_total
