extends layout

block content
  div.row
    div.col.s12
      table#editLinesTable.wagerTable
        thead
          tr.resultHead
            th(colspan=1)
              select#editLinesSelect
                option(value=year selected)=year
                - for (i=maxyear; i>2016; i--)
                  option(value=i)=i
              label
                | Select Season
            th(colspan=7)
              | :: EDIT LINES ::
          tr
            th
              | API_id
            th
              | Event
            th
              | Type
            th
              | Wager
            th
              | Odds
            th
              | Result?
            th.center-align
              | Grade?
            th.center-align
              | Update?
        tbody
          tr#ins-row
            td
              | TBD
            td
              select(name='event-select').inp-lg#ins-event
                option(disabled selected value='')
                  | Choose Event
                option(value='Rising Stars Game')
                  | Rising Stars Game
                option(value='Skills Challenge')
                  | Skills Challenge
                option(value='Three-Point Contest')
                  | Three-Point Contest
                option(value='Dunk Contest')
                  | Dunk Contest
                option(value='All-Star Game')
                  | All-Star Game
            td
              input.inp-md#ins-type
              input.hidden#ins-season(value=year)
              input.hidden#ins-deadlines(value=deadlines)
            td
              input#ins-side
            td
              input.inp-sm#ins-odds
            td
            td
            td
              button.btn.add-btn
                | ADD LINE
          for line in lines
              tr
                td=line.id
                td
                  input.inp-lg(value=line.event)
                td
                  input.inp-md(value=line.type)
                td
                  input(value=line.side)
                if line.odds < 0
                  td
                    input.inp-sm(value=line.odds)
                else
                  td
                    input.inp-sm(value='+' + line.odds)
                if line.result === true
                  td
                    | WIN
                else if line.result === false
                  td
                    | LOSS
                else
                  td
                td.center-align
                  button.btn.hoverable.win-btn
                    | WIN
                  button.btn.hoverable.lose-btn
                    | LOSS
                td
                  button.btn.hoverable.update-btn
                    | UPDATE
                  button.btn.hoverable.delete-btn
                    | X
