extends layout

block content
  div.row
    div.col.s8.offset-s2.gradeHead.
      :: GRADE PICKS ::
    div.col.s8.offset-s2.test
      table.wagerTable
        thead
          tr
            th
              | API_id
            th
              | Event
            th
              | Type
            th
              | Wager
            th.center-align
              | Grade
        tbody
          for line in lines
              tr
                td=line.id
                td=line.event
                td=line.type
                td=line.side
                if line.result === null
                  td.center-align
                    button.btn.win-btn
                      | WIN
                    button.btn.lose-btn
                      | LOSS
                else
                  td
                    | GRADED: #{line.result}
