extends layout

block content
  div.row
    div.col.s9
      div.picks-head.center-align
        | NBA ALL-STAR WEEKEND LINES
      table.bordered#wagerTable
        thead
          tr
            th
              | Event
            th
              | Type
            th
              | Wager
            th
              | Odds
            th
              | Risk
            th
              | To Win
            th
              
        tbody
          for wager in wagers
            tr              
              td=wager.event
              td=wager.type
              td.wager-col=wager.side
              td=wager.odds
              td.input-field.curr-col
                input.risk-input(type='number')
              td.curr-col.toWin
              td
                button.btn.pick-btn.hoverable.
                  PLACE BET
    div.col.s3
      div#ticket.z-depth-5
        div.center-align.header
          | YOUR TICKET
        br
        div#remaining.center-align
          if user
            | DOLLARS REMAINING:
            span#balance= '$' + user.balance
          else 
            | You are not logged in!
        br
        div.wager-list  
          table
            thead
              tr
                th
                  | Event
                th
                  | Wager
                th
                  | Odds
                th
                  | Risk
            tbody
              for bet in bets
                tr
                  if bet.event === 'Three-Point Contest'
                    td
                      | 3PT
                  else if bet.event === 'Slam Dunk Contest'
                    td
                      | Dunk
                  else if bet.event === 'Skills Challenge'
                    td
                      | Skills
                  else if bet.event === 'Rising Stars Challenge'
                    td
                      | Rising Stars
                  else 
                    td
                      | ASG
                  td=bet.wager
                  if bet.odds > 0
                    td='+' + bet.odds
                  else
                    td=bet.odds
                  td='$' + bet.risk
