extends layout

block content
  div.row
    div.col.s9
      table.bordered.wagerTable
        thead
           tr.resultHead
             th(colspan=7)
               | :: NBA ALL-STAR WEEKEND LINES ::
           tr
             th(colspan=7).picks-desc
               | To make a pick: enter an amount in the Risk column for your selection. The 'To Win' column will display your bet's payout. Then click the 'Place Bet' button to finalize your pick.
               b 
                | Once a bet is placed, it is final and cannot be taken back.
          tr
            th(colspan=7).picks-desc
              | Remember: you MUST wager at least $100 on each of the All-Star Saturday Night events (Skills / 3PT / Dunk) and the All-Star Game. You can spread the remainder of your money out however you'd like.
          tr
            th(colspan=7).picks-desc
              | Rising Stars picks lock at 6 PM PST on Friday, 2/17. All other events lock at 5 PM PST on Saturday, 2/18.
          tr
            th(colspan=7).picks-desc#desc-bott.red-text
              | Lines for the Rising Stars and All-Star Games (including MVP odds and prop bets) will be posted as soon as they are made available by Vegas.
          tr#picks-header
            th
              | Event
            th
              | Type
            th
              | Wager
            th
              | Odds
            th
              | Risk
            th
              | To Win
            th  
              | Place Bet
        tbody
          for wager in wagers
            if (moment(wager.time)).isAfter(moment())
              tr
                td.hidden=wager.id
                td.hidden=wager.time
                if user
                  td.hidden=user.username              
                td=wager.event
                td=wager.type
                td.wager-col(style='font-weight: 800')=wager.side
                if wager.odds < 0 
                  td=wager.odds
                else
                  td='+'+ wager.odds
                td.input-field.curr-col
                  input.risk-input(type='number')
                td.curr-col.toWin
                td
                  if wager.event !== 'Rising Stars Game' && wager.event !== 'All-Star Game'
                    button.btn.pick-btn.hoverable
                      | PLACE BET
                  else
                    button.btn.pick-btn.hoverable.disabled
                      | PLACE BET

    div.col.s3
      div#minimums.z-depth-5
        div.center-align.min-header
          | $100 MINIMUMS MET?
        br
        if user  
          div.row#minrow
            div.col.s6
              div
                | ASG?
                if asgBal < 100
                  span#asgmin
                    | NO [$#{asgBal}]
                else
                  span.min-met
                    | YES
              div
                | Dunk?
                if dunkBal < 100
                  span#dunkmin
                    | NO [$#{dunkBal}]
                else
                  span.min-met
                    | YES
            div.col.s6  
              div
                | 3PT?
                if threeptBal < 100
                  span#threeptmin
                    | NO [$#{threeptBal}]
                else
                  span.min-met
                    | YES
              div
                | Skills?
                if skillsBal < 100
                  span#skillsmin
                    | NO [$#{skillsBal}]
                else
                  span.min-met
                    | YES
        else
          div.center-align.not-logged
            | You are not logged in! 
        
      div#ticket.z-depth-5
        div.center-align.header
          | YOUR TICKET
        br
        div#remaining.center-align
          if user
            | DOLLARS REMAINING:
            span#balance= '$' + balance
          else 
            | You are not logged in!
        br
        if user
          div.wager-list  
            table
              thead
                tr
                  th  
                    | Event
                  th
                    | Wager
                  th
                    | Odds
                  th
                    | Risk
              tbody#ticket-rows
                for bet in bets
                  tr
                    if bet.event === 'Three-Point Contest'
                      td
                        | 3PT
                    else if bet.event === 'Dunk Contest'
                      td
                        | Dunk
                    else if bet.event === 'Skills Challenge'
                      td
                        | Skills
                    else if bet.event === 'Rising Stars Game'
                      td
                        | Rising Stars
                    else 
                      td
                        | ASG
                    td=bet.wager
                    if bet.odds > 0
                      td='+' + bet.odds
                    else
                      td=bet.odds
                    td='$' + bet.risk
