extends layout

block content
  table
    thead
      tr
        th.
          Rank
        th.
          Entrant
        th.
          Rising Stars
        th.
          Skills Challenge
        th.
          Three-Point Contest
        th.
          Slam Dunk Contest
        th.
          All-Star Game
        th.
          TOTAL $
    tbody
      - var i=0
      for entrant in results
        - i++
        tr
          td=i
          td=entrant.username
          td='$' + entrant.rising_stars
          td='$' + entrant.skills
          td='$' + entrant.three_pt
          td='$' + entrant.dunk
          td='$' + entrant.all_star
          td='$' + entrant.total
            
        
      
