extends layout

block content
  div.row
    table.col.s10.offset-s1.wagerTable
      thead
        tr.resultHead
          th(colspan=13)
            div(style="display: inline-block; width: 60%; margin-left: 20%; text-align: center; padding-top: 15px")
              | :: STANDINGS :: 
            div.input-field(style="display: inline-block; width: 20%; margin-top: 15px")
              select#standingsSelect(style="padding-top: -15px")
                option(value=year selected)=year
                for season in seasons
                  if season != year
                    option(value=season)=season
              label
                | Select Season
        tr
          th(rowspan=2).
            Rank
          th(rowspan=2).
            Entrant
          th(rowspan=2).
            TOTAL $
          th(colspan=2).
            Rising Stars
          th(colspan=2).
            Skills Challenge
          th(colspan=2).
            Three-Point Contest
          th(colspan=2).
            Slam Dunk Contest
          th(colspan=2).
            All-Star Game
        tr
          th.i-col.
            wagered
          th.b-col.
            profit
          th.i-col.
            wagered
          th.b-col.
            profit
          th.i-col.
            wagered
          th.b-col.
            profit
          th.i-col.
            wagered
          th.b-col.
            profit
          th.i-col.
            wagered
          th.b-col.
            profit
          
      tbody#results-body
        - var i=0
        for entrant in results
          - i++
          tr
            td=i
            td
              div.chip
                //- img(src=entrant.photo)
                =entrant.username  
            if entrant.total < 0
              - var dol = entrant.total.toString().substring(1)
              td.res-total='-$' + dol
            else
              td.res-total='$' + entrant.total
            td.i-col='$' + entrant.wag_rs
            if entrant.rising_stars >= 0
              td.b-col='$' + entrant.rising_stars
            else
              - var dol = entrant.rising_stars.toString().substring(1)
              td.red-text.b-col='-$' + dol
            td.i-col='$' + entrant.wag_skills
            if entrant.skills >= 0
              td.b-col='$' + entrant.skills
            else
              - var dol = entrant.skills.toString().substring(1)
              td.red-text.b-col='-$' + dol
            td.i-col='$' + entrant.wag_threept
            if entrant.three_pt >= 0
              td.b-col='$' + entrant.three_pt
            else
              - var dol = entrant.three_pt.toString().substring(1)
              td.red-text.b-col='-$' + dol
            td.i-col='$' + entrant.wag_dunk
            if entrant.dunk >= 0
              td.b-col='$' + entrant.dunk
            else
              - var dol = entrant.dunk.toString().substring(1)
              td.red-text.b-col='-$' + dol
            td.i-col='$' + entrant.wag_asg
            if entrant.all_star >= 0
              td.b-col='$' + entrant.all_star
            else
              - var dol = entrant.all_star.toString().substring(1)
              td.red-text.b-col='-$' + dol
