extends layout

block content
  div.row
    div.col.s12.center-align
      span=user.username + "'s Wagers"
  div.row
    table.col.s10.offset-s1.striped
      thead
        tr
          th.
            Username
          th.
            Event
          th.
            Type
          th.
            Wager
          th.
            Odds
          th.
            Risked
          th.
            To Win
          th.
            Result
      tbody
        for wager in wagers
          tr
            td=wager.username
            td=wager.event
            td=wager.type
            td=wager.wager
            if wager.odds > 0
              td= '+' + wager.odds
            else 
              td=wager.odds
            td='$' + wager.risk
            td='$' + wager.to_win
            if wager.result !== null
              td='$' + wager.result
            else 
              td=wager.result
              
